@using Zdy.Blog.Data.Models
@model Zdy.Blog.Data.Models.Gallery
@inject Zdy.Blog.Services.IRepository _repository

@if (Model.ID != Guid.Empty)
{
    var photos = await _repository.FindAsync<Photo>(t => t.SourceID == Model.ID);

    <article class="post">
        <header class="post-head">
            <time datetime="@Model.PubDate" class="post-time">
                @Model.PubDate
            </time>
            <h1 class="post-title">
                <a href="javascript:;">
                    @Model.Title
                </a>
            </h1>
        </header>

        <div class="post-main">
            <div>
                <button class="btn btn-primary" type="button" id="upload" style="margin-bottom: 20px;">Upload Image</button>
                <input type="file" multiple="multiple" id="files" data-type="gallery/@Model.ID" style="position: absolute;left: -1000px;top: 0px;" />
            </div>
            <ul class="photos-list">
                @foreach (var photo in photos.OrderByDescending(t => t.Sort).ThenByDescending(t => t.PubDate))
                {
                    var photoUrl = ViewData["CDN"] + $"/upload/gallery/{Model.ID}/{photo.FileName}";
                    <li class="photos-list-item">
                        <div class="photo-form-container">
                            <div class="u-fl">
                                <a href="@photoUrl" class="fancybox" data-fancybox="gallery">
                                    <img src="@photoUrl">
                                </a>
                            </div>
                            <div class="u-fl">
                                @{
                                    await Html.RenderPartialAsync("_PhotoEditForm", photo);
                                }
                            </div>
                        </div>
                    </li>
                                    }
            </ul>
        </div>
    </article>
}

<article class="post">
    <header class="post-head">
        <h1 class="post-title">
            <a href="javascript:;">
                Gallery
            </a>
        </h1>
    </header>
    <div class="post-main echo">
        <form role="form" id="gallery-form" class="comments-form" asp-controller="Admin" asp-action="GalleryUpdate">
            <div class="form-group">
                <div>
                    <input asp-for="ID" type="hidden" />
                    <label asp-for="Title" class="control-label">Title</label>
                    <input asp-for="Title" class="form-control" type="text" placeholder="Title" required="">
                </div>
                <div>
                    <label asp-for="Slug" class="control-label">Slug</label>
                    <input asp-for="Slug" class="form-control" type="text" placeholder="Slug" required="">
                </div>
                <div>
                    <label asp-for="Categories" class="control-label">Categories</label>
                    <input asp-for="Categories" class="form-control" type="text" placeholder="Categories">
                </div>
                <div>
                    <label asp-for="Excerpt" class="control-label">Excerpt</label>
                    <input asp-for="Excerpt" class="form-control" type="text" placeholder="Excerpt">
                </div>
                <div>
                    <label asp-for="PubDate" class="control-label">PubDate</label>
                    <input asp-for="PubDate" class="form-control" type="datetime-local" placeholder="PubDate" required="">
                </div>
                <div>
                    <label asp-for="IsPublished" class="control-label">Is published</label>
                    <div>
                        <input asp-for="IsPublished" class="checkbox" />
                    </div>
                </div>
            </div>
            <div class="form-action">
                <button class="btn btn-primary u-fr" type="submit">Post</button>
                @if (Model.ID != Guid.Empty)
                {
                    <button class="btn btn-link u-fr gallery-remove" style="color:red" type="button" data-id="@Model.ID">remove</button>
                }
            </div>
        </form>
    </div>

    @if (Model.ID != null)
    {
        await Html.RenderPartialAsync("_Comments", Model.ID);
    }
</article>