@using Zdy.Blog.Data
@model Guid
@{
    Layout = null;
    var comment = new CommentDataObject();
    comment.SourceID = Model;
}
<article class="post">
    <header class="post-head">
        <h1 class="post-title">
            <a href="javascript:;">
                Post Comments
            </a>
        </h1>
    </header>
    <div class="post-main">
        <form role="form" id="comments-form" class="comments-form" asp-controller="Home" asp-action="AddComment">
            <div class="form-group">
                <div class="half-width">
                    <input asp-for="@comment.SourceID" type="hidden" />
                    <label asp-for="@comment.Author" class="control-label">Name</label>
                    <input asp-for="@comment.Author" class="form-control" type="text" placeholder="Name" required="">
                </div>
                <div class="half-width">
                    <label asp-for="@comment.Email" class="control-label">Email</label>
                    <input asp-for="@comment.Email" class="form-control" type="email" placeholder="Email" required="">
                </div>
                <div class="half-width">
                    <label asp-for="@comment.Code" class="control-label">Code</label>
                    <input asp-for="@comment.Code" class="form-control" type="text" placeholder="Code" required="">
                    <img id="validate-code" src="/ValidateCode" alt="看不清？点击更换" onclick="this.src = this.src + '?'" style="vertical-align:middle; margin-right: 2px; margin-top: -38px; float: right;" />
                </div>
                <div>
                    <label asp-for="@comment.Content" class="control-label">Content</label>
                    <textarea asp-for="@comment.Content" class="form-control" rows="4" placeholder="Comment" required=""></textarea>
                </div>
            </div>
            <div class="form-action text-right">
                @*<button class="btn btn-primary" type="button" id="upload">Image</button>*@
                <button class="btn btn-primary" type="submit">Post</button>
            </div>
        </form>
        <input type="file" multiple="multiple" id="files" data-type="comment" style="position: absolute;left: -1000px;top: 0px;" />
    </div>
    @if (Model != null)
    {
        await Html.RenderPartialAsync("_Comments", Model);
    }
</article>
