@using Zdy.Blog.Data.Models
@model Post
@using Zdy.Blog.TagExtends
@inject Zdy.Blog.Services.IRepository _repository
@addTagHelper "Zdy.Blog.TagExtends.MarkdownTagHelper,Zdy.Blog"
@{
    ViewData["Title"] = Model.Title;
    ViewData["Keywords"] = Model.Categories;
    var post = Model;
}
<article class="post" id="@post.ID">
    <header class="post-head">
        <time datetime="@post.PubDate" class="post-time">
            @post.PubDate.ToString("MMMM dd，yyyy")
        </time>
        <h1 class="post-title">
            <a href="/post/@post.Slug">
                @post.Title
            </a>
        </h1>
    </header>
    <div class="post-main echo">

        @{
            var markdownOption = new MarkdownOption
            {
                StringContent = post.Content
            };
        }

        <markdown markdown-option="@markdownOption"></markdown>

    </div>

    <footer class="post-foot u-cf">
        @{
            if (!string.IsNullOrEmpty(post.Categories))
            {
                var categories = post.Categories.Split(',');

                <ul class="post-tag u-fl">
                    @foreach (var category in categories)
                    {
                        <li class="post-tag-item">
                            <a href="/search/@category" class="post-tag-link">
                                @category
                            </a>
                        </li>
                    }
                </ul>
            }
        }

        @{
            int cc = await _repository.CountAsync<Comment>(t => t.IsApproved && t.SourceID == post.ID);
        }

        <a href="/post/@post.Slug" class="post-foot-link u-fr"><img class="icon" src="~/images/see.png" />@post.CheckNumber</a>
        <a href="/post/@post.Slug#post-comments" class="post-foot-link u-fr"><img class="icon" src="~/images/comments.png" />@cc</a>
    </footer>
</article>

@if (Model.ID != null)
{
    await Html.RenderPartialAsync("_CommentsForm", Model.ID);
}